/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('Silkscreen-Regular.ttf');
}

/*Color*/

:root {
    --background-color: #413C58;
    --text-color: #76B3AF;
}

/*home*/

.typo {
    background-color: var(--background-color);
    color: var(--text-color);
}

.home {
    display: flex;
    flex-direction: column;
    margin: 90px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;

}

.nav_bar {
    margin-top: -90px;
}

nav>a {
    color: var(--text-color);
    font-family: montserrat;
    text-decoration: none;
}

.home_header {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: flex-end;
}

.home_header>h1 {
    font-family: orbitron;
    font-size: 60px;
    margin: 0;
}

header>p {
    font-family: montserrat;
    margin: 0;
}