/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('Silkscreen-Regular.ttf');
}

/*home*/

.home {
    display: flex;
    flex-direction: column;
    margin: 90px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_bar {
    margin-top: -90px;
}

.nav_line {
    border-top: 1px solid black;
}

nav>a {
    margin: 50px;
    font-family: montserrat;
    color: black;
    text-decoration: none;
}

.home_header {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: flex-end;
}

.home_header>h1 {
    font-family: orbitron;
    font-size: 60px;
    margin: 0;
}

header>p {
    font-family: montserrat;
    margin: 0;
}

/*typo*/

.typo {
    display: flex;
    flex-direction: column;
    margin: 90px;
}

.typo_header {
    text-align: left;
}

.typo_line {
    width: 350px;
    display: block;
    margin: 0;
    border: none;
    border-top: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.good_design {
    font-family: montserrat;
    font-size: 50px;
}

.desc>p {
    font-family: montserrat;
}

.font_introduction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonts {
    display: flex;
    flex-direction: column;
}

.fonts>.fonts_used {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin: 3rem 0 3rem 5rem;
}

.orbitron_font {
    font-family: orbitron;
}

.montserrat_font {
    font-family: montserrat;
}

.silkscreen_font {
    font-family: silkscreen;
}