/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf');
}

/*Color*/

:root {
    --text-color: #ffffff;
}

/*home*/

.typo {
    color: var(--text-color);
}

body {
    background: linear-gradient(to bottom right, #363553, #903775, #E8458B);
    min-height: 80vh;
}

.home {
    display: flex;
    flex-direction: column;
    margin: 90px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    z-index: 100;

}

.nav_bar {
    margin-top: -90px;
}

nav>a {
    color: var(--text-color);
    font-family: montserrat;
    text-decoration: none;
}

.home_header {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: flex-end;
}

.home_header>h1 {
    font-family: orbitron;
    font-size: 60px;
    margin: 0;
}

header>p {
    font-family: montserrat;
    margin: 0;
}