/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf');
}

/*Color*/

:root {
    --background-color: #B1486C;
    --text-color: #ffffff;
}

/*home*/

body {
    display: flex;
    flex-direction: column;
    margin: 90px;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    font-family: montserrat;
}

nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-top: 3rem;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;

}

.nav_bar {
    margin-top: -90px;
}

.nav_bar>* {
    font-family: montserrat;
}

nav>a {
    color: var(--text-color);
    text-decoration: none;
}

/*logo*/

.main_square {
    margin: 5rem auto;
    background-color: #ffffff;
    width: 78rem;
    height: 20rem;
}

main {
    margin: 3rem 0;
}

.logo_design {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_design>hr {
    width: 20%;
}

.title {
    text-align: center;
    margin: 5rem 0;
}

.square {
    background-color: #ffffff;
    width: 30rem;
    height: 30rem;
}

.var_one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 0;
}

.var_two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5rem 0;
}

.var_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 0;
}