/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf');
}

/*Color*/

:root {
    --background-color: #436436;
    --text-color: #ffffff;
    --russian-violet: #462255;
    --syracuse-orange: #C84C09;
    --golden-yellow: #FFD400;
    --dogwood-rose: #D90368;
    --hunter-green: #436436;
}

/*home*/

body {
    display: flex;
    flex-direction: column;
    margin: 90px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat";
}

nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-top: 3rem;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;

}

.nav_bar {
    margin-top: -90px;
}

nav>a {
    color: var(--text-color);
    font-family: montserrat;
    text-decoration: none;
}

.container {
    border: 1px solid white;
    padding: 5rem;
    margin-top: 1rem;
}

/* icons */

.icons {
    width: 80%;
}

.heading {
    font-family: "montserrat";
    font-size: 3rem;
    font-weight: bold;
}

.line {
    width: 35%;
    display: block;
    margin: 0;
    border: 1px solid #ffffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table {
    table-layout: fixed;
}

table,
td {
    border: 2px solid white;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;
    width: 25%;
}

p {
    font-family: "montserrat";
    font-size: larger;
}

.desc {
    padding: 1rem 0 3rem 0;
}

/* graphics */

.graphics {
    width: 80%;
}

.imgs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
}

.top {
    display: flex;
    gap: 6rem;
}

.bottom {
    display: flex;
    gap: 5rem;
}

.straws,
.glass,
.waterbottle {
    width: 5rem;
}

.cutlery {
    width: 10rem;
}

.coffeecup {
    width: 8rem;
    height: 13rem;
    padding-top: 6rem;
}

.tumbler {
    width: 7rem;
}

.sewing {
    width: 20rem;
    height: 15rem;
    padding-top: 4rem;
}

/* imagery */

.imagery {
    padding-bottom: 4rem;
}

.examples {
    display: flex;
    gap: 6rem;
}

.button-container,
.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-container {
    padding-top: 1.5rem;
}

.buttons {
    display: flex;
    gap: 2rem;
    padding-top: 1.5rem;
}

.start,
.start-invert {
    width: 10rem;
    height: 4rem;
    font-family: "silkscreen";
    font-size: x-large;
    border: none;
    border-radius: 0.5rem;
}

.start {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.start:hover {
    border: none;
    color: var(--russian-violet);
    background-color: var(--text-color);
    cursor: pointer;
}

.start-invert {
    border: none;
    color: var(--russian-violet)
}

.start-invert:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    cursor: pointer;
}

.explanation {
    width: 25rem;
}

.button-info {
    line-height: 1.5;
}

.info-card {
    background-color: var(--text-color);
    color: var(--russian-violet);
    padding: 1rem 0 2rem 2rem;
    width: 23rem;
    height: 10rem;
    border: none;
    border-radius: 0.5rem;
}

.info-card:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.learn {
    background-color: var(--russian-violet);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    width: 7rem;
    height: 2rem;
    font-size: medium;
}

/* sources */

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.source {
    text-decoration: none;
    color: var(--text-color);
    font-size: larger;
}