/*fonts*/

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'silkscreen';
    src: url('/fonts/Silkscreen-Regular.ttf');
}

/*Color*/

:root {
    --background-color: #436436;
    --text-color: #ffffff;
}

/*home*/

body {
    display: flex;
    flex-direction: column;
    margin: 90px;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-top: 3rem;
    height: 40px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;

}

.nav_bar {
    margin-top: -90px;
}

nav>a {
    color: var(--text-color);
    font-family: montserrat;
    text-decoration: none;
}

.container {
    border: 1px solid white;
    padding: 5rem;
    margin-top: 1rem;
}

/* icons */

.heading {
    font-family: "montserrat";
    font-size: 3rem;
    font-weight: bold;
}

.line {
    width: 35%;
    display: block;
    margin: 0;
    border: 1px solid #ffffff;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

table {
    table-layout: fixed;
}

table,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;
    width: 25%;
}

p {
    font-family: "montserrat";
    font-size: larger;
}

.desc {
    width: 75%;
    padding: 1rem 0 3rem 0;
}

/* images */

.imgs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0 2rem 0;
}

.top {
    display: flex;
    gap: 6rem;
}

.bottom {
    display: flex;
    gap: 5rem;
}

.straws,
.glass,
.waterbottle {
    width: 5rem;
}

.cutlery {
    width: 10rem;
}

.coffeecup {
    width: 7rem;
    height: 13rem;
    padding-top: 6rem;
}

.tumbler {
    width: 7rem;
}

.sewing {
    width: 15rem;
    height: 15rem;
    padding-top: 4rem;
}